<p id="about">

HourSchool is a website that lets you post what you want to learn, and it figures out who in your network can teach it. We facilitate fun social gatherings centered around knowledge sharing, where people learn about a subject matter from their peers and share something in return. By implementing a social credit system, we foster communities by building social capital. This gives individuals the power to express what they are most passionate about and allows them to feel valued. Meet new people, learn something, share something. We realized that people learn when they teach others what they know. They learn about themselves, about the people, and about their community. They gain a better sense of self and a stronger sense of belonging. We envision a world where everyone realizes they have knowledge to share.
  
  
</p>

