<!DOCTYPE html>
<html>
<head>
  <title>HourSchool</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<h1>HourSchool</h1>
<h4>Learn to Teach, Teach to Learn</h4>
<%= yield %>

</body>
</html>
